{% extends './../../components/base.html' %}
{% block title %}
    DOLCE - Password reset complete
{% endblock title %}
{% load static %}

{% block content %}
    <main id="main container">
     <div class="mailer-form mt-5 pt-5">
        <div class="mailer-holder">
            <div class="left">
                <div class="header">
                    <h2> Password changed successfully </h2>
                </div> 
            </div>
            <div class="right">
                <div class="body">
                    
                        <div class="login-error mails-total">
                         	<div>
                         		Your password was changed successfully.
                         	</div>
                         	<div>
                         		<a href="{%url 'login' %}" class="login-btn"> Login </a>
                         	</div>
                        </div>           
                    </div>

                </div>
            </div>
        </div>

<!--        <div class="footer-links">-->
<!--            <a href="https://web.facebook.com/Mangoke-100719798561368/?_rdc=1&_rdr"> <img src="https://img.icons8.com/color/48/000000/facebook-circled&#45;&#45;v1.png" alt="F"/> </a>-->
<!--            <a href="https://ke.linkedin.com/company/mango-ke?trk=public_profile_experience-item_result-card_image-click"> <img src="https://img.icons8.com/color/48/000000/linkedin-2&#45;&#45;v2.png" alt="L" /> </a>-->
<!--            <a href="https://twitter.com/Mango_hosting"> <img src="https://img.icons8.com/color/48/000000/twitter&#45;&#45;v2.png" alt="T"/> </a>-->
<!--            <a href="https://www.instagram.com/mango_hosting/"> <img src="https://img.icons8.com/color/48/000000/instagram-new&#45;&#45;v2.png" alt="I" /> </a>-->
<!--        </div>-->

     </div>
    </main>

{% endblock %}